<h1>Listing players</h1>
 <div class="center jumbotron">
<table>
  <tr>
    <th>Team</th>
    <th>Name </th>
    <th>Position </th>
    <th>Points </th>
    <th>Assists </th>
    <th>Rebounds </th>
    <th>Blocks </th>
    <th>Steals </th>
    <th>FG Made </th>
    <th>FG Total </th>
    <th>FG Percentage </th>
    <th>3FG Made </th>
    <th>3FG Total </th>
    <th>3FG Percent </th>
    <th>FT Made </th>
    <th>FT Total </th>
    <th>FT Percent </th>
    <th>Ranking </th>
  </tr>
 
  <% @players.each do |player| %>
    <tr>
      <td><%= player.team %></td>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= player.points %></td>
      <td><%= player.assists %></td>
      <td><%= player.rebounds %></td>
      <td><%= player.blocks %></td>
      <td><%= player.steals %></td>
      <td><%= player.fgMade %></td>
      <td><%= player.fgTotal %></td>
      <td><%= player.fgp %></td>
      <td><%= player.tfgMade %></td>
      <td><%= player.tfgTotal %></td>
      <td><%= player.tfgp %></td>
      <td><%= player.ftMade %></td>
      <td><%= player.ftTotal %></td>
      <td><%= player.ftp %></td>
      <td><%= player.ranking %></td>
    </tr>
  <% end %>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.record %></td>
      <td><%= team.points %></td>
      <td><%= team.assists %></td>
      <td><%= team.rebounds %></td>
      <td><%= team.blocks %></td>
      <td><%= team.steals %></td>
    </tr>
  <% end %>
</table>