<h1>Listing players</h1>
 <div class="center jumbotron">
  
   <table class = "table" style="width:100%">
  <tr>
    <td><%= link_to 'Team', controller: 'home' %></td>
    <td>Name </td>
    <td>Position </td>
    <td><%= link_to 'Points', controller: 'home' ,:query => "sortPoints"%></td>
    <td><%= link_to 'Assists', controller: 'home' ,:query => "sortAssists"%></td>
    <td><%= link_to 'Rebounds', controller: 'home' ,:query => "sortRebounds"%></td>
    <td><%= link_to 'Blocks', controller: 'home' ,:query => "sortBlocks"%></td>
    <td><%= link_to 'Steals', controller: 'home' ,:query => "sortSteals"%></td>
    <td>FG Made </td>
    <td>FG Total </td>
    <td>FG Percentage</td>
    <td>3FG Made </td>
    <td>3FG Total </td>
    <td>3FG Percent </td>
    <td>FT Made </td>
    <td>FT Total </td>
    <td>FT Percent </td>
    <td>Ranking </td>
  </tr>
 
  <% @players.each do |player| %>
    <tr>
      <td><%= player.team %></td>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= player.points %></td>
      <td><%= player.assists %></td>
      <td><%= player.rebounds %></td>
      <td><%= player.blocks %></td>
      <td><%= player.steals %></td>
      <td><%= player.fgMade %></td>
      <td><%= player.fgTotal %></td>
      <td><%= player.fgp %></td>
      <td><%= player.tfgMade %></td>
      <td><%= player.tfgTotal %></td>
      <td><%= player.tfgp %></td>
      <td><%= player.ftMade %></td>
      <td><%= player.ftTotal %></td>
      <td><%= player.ftp %></td>
      <td><%= player.ranking %></td>
    </tr>
  <% end %>
  </table> 
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.team_record %></td>
      <td><%= team.points %></td>
      <td><%= team.assists %></td>
      <td><%= team.rebounds %></td>
      <td><%= team.blocks %></td>
      <td><%= team.steals %></td>
    </tr>
  <% end %>

</table>
<%= link_to "Obliterate", "/deleteall", class: "btn btn-lg btn-primary" %>
<%= link_to "Add Player", new_home_path, class: "btn btn-lg btn-primary" %>