<h1>Listing players</h1>
 <div class="center jumbotron">
  
   <table class = "table" style="width:100%">
  <tr>
    <td><%= link_to 'Team', controller: 'home' %></td>
    <td>Name </td>
    <td>Position </td>
    <td><%= link_to 'Points', controller: 'home' ,:query => "sortPoints"%></td>
    <td><%= link_to 'Assists', controller: 'home' ,:query => "sortAssists"%></td>
    <td><%= link_to 'Rebounds', controller: 'home' ,:query => "sortRebounds"%></td>
    <td><%= link_to 'Blocks', controller: 'home' ,:query => "sortBlocks"%></td>
    <td><%= link_to 'Steals', controller: 'home' ,:query => "sortSteals"%></td>
    <td><%= link_to 'FG Made', controller: 'home' ,:query => "sortFGMade"%></td>
    <td><%= link_to 'FG Total', controller: 'home' ,:query => "sortFGTotal"%></td>
    <td><%= link_to 'FG Percent', controller: 'home' ,:query => "sortFGP"%></td>
    <td><%= link_to '3FG Made', controller: 'home' ,:query => "sort3FGMade"%></td>
    <td><%= link_to '3FG Total', controller: 'home' ,:query => "sort3FGTotal"%></td>
    <td><%= link_to '3FG Percent', controller: 'home' ,:query => "sort3FGP"%></td>
    <td><%= link_to 'FT Made', controller: 'home' ,:query => "sortFTMade"%></td>
    <td><%= link_to 'FT Total', controller: 'home' ,:query => "sortFTTotal"%></td>
    <td><%= link_to 'FT Percent', controller: 'home' ,:query => "sortFTP"%></td>
    <td><%= link_to 'Player Efficiency Ranking', controller: 'home' ,:query => "sortRanking"%></td>
  </tr>
 
  <% @players.each do |player| %>
    <tr>
      <td><%= player.team %></td>
      <td><%= link_to player.name, edit_home_path(player) %></td>
      <td><%= player.position %></td>
      <td><%= player.points %></td>
      <td><%= player.assists %></td>
      <td><%= player.rebounds %></td>
      <td><%= player.blocks %></td>
      <td><%= player.steals %></td>
      <td><%= player.fgMade %></td>
      <td><%= player.fgTotal %></td>
      <td><%= player.fgp %></td>
      <td><%= player.tfgMade %></td>
      <td><%= player.tfgTotal %></td>
      <td><%= player.tfgp %></td>
      <td><%= player.ftMade %></td>
      <td><%= player.ftTotal %></td>
      <td><%= player.ftp %></td>
      <td><%= player.ranking %></td>
    </tr>
  <% end %>
  </table> 

</table>
<%= link_to "Obliterate", "/deleteall", class: "btn btn-lg btn-primary" %>
<%= link_to "Add Player", new_home_path, class: "btn btn-lg btn-primary" %>

