%h1 All Players

%table#players
  %thead
    %tr
      %th Player Name
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @players.each do |player|
      %tr
        %td= player.name 
        %td= player.rating
        %td= player.release_date
        %td= link_to "More about #{player.name}", player_path(player)