
%h2 Details about #{@player.name}

%ul#details
  %li
    Rating:
    = @player.rating
  %li
  Released on:
    = @player.release_date.strftime("%B %d, %Y")
 
%h3 Description:
 
%p#description= @player.description
 
= link_to 'Back to movie list', players_path